<header class="header  ">
    <div class=" flex container">
        <div class="logo">
            <img class="img-logo" src="../../../assets/imgs/bitcoin.png">
        </div>
        <nav class="flex nav-header ">
            <div *ngIf="!loggedinUser else logout" class=" flex  login-signup">
                <a class="link" routerLink="/signup" routerLinkActive="active">Signup</a>
            </div>
            <ng-template class="logout" #logout>
                <button class="link btn-logout" (click)="onLogout()"> Logout </button>
            </ng-template>
            <a *ngIf="loggedinUser" class="link" routerLink="/" routerLinkActive="active">Home </a>
            <a class="link" routerLink="/contact" routerLinkActive="active"> Contacts</a>
            <a class="link" routerLink="/statics" routerLinkActive="active">Statistics</a>
        </nav>
    </div>

</header>