.header {
    height: 100px;
    background-color: rgb(37, 53, 66); //clr2
    color: white;

    .link {
        font-size: 26px;

        &:hover {
            color: rgb(237, 78, 110);
        }
    }
}

.login-signup {
    a {
        margin-left: 5px;
    }
}


.nav-header {
    width: 70%;
    justify-content: space-around;
    align-self: center;

    .btn-logout {
        color: white;
        margin: 0;
        padding: 0em;
        background-color: rgb(37, 53, 66);
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.logo {
    width: 30%;
    align-self: center;
}

.img-logo {
    height: 50px;
}