.contact-preview {
    cursor: pointer;
}

.contact-img {
    margin-right: 5px;
    width: 45px;
    height: 45px;
}

.name {
    display: inline-block;
    width: 180px;
    font-size: 25px;
    color: #aab5c5;
}



.delete-img {
    cursor: pointer;
    height: 45px;


}