.moves-list {

    .move {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .title {
        color: rgb(237, 78, 110); // change to $clr1
        font-size: 35px;
        margin-bottom: 5px;
    }
}

.move-detail {
    margin-bottom: 5px;

    .detail {
        display: inline-block;
        width: 155px;
    }

    .date,
    .coins,
    .to {
        color: #aab5c5;
        width: 350px;
        display: inline-block;
    }

    .coins {
        color: #3b3;
    }
}