<div class="signup-page flex container">

    <h1 class="title">welcome Guest</h1>
    <form class="signup-form" *ngIf="!loggedinUser">
        <div class="name">
            <input class="bitcoin-input" name="name" placeholder="name" [(ngModel)]="user.name" type="text">
        </div>
        <div class="password">
            <input class="bitcoin-input" placeholder="password" name="password" [(ngModel)]="user.password" type="text">
        </div>
        <div class="btns flex">
            <button class="bitcoin-btn" (click)="signup($event)">Sign up</button>
            <button class="bitcoin-btn" (click)="login($event)">login</button>
        </div>
    </form>



</div>