.user-details {

    .name {
        text-transform: capitalize;
        color: rgb(237, 78, 110);

    }

}

.detail {
    font-size: 25px;
    height: 100px;

    .white {
        display: inline-block;
        width: 60px;
    }

    .bitcoins,
    .rate,
    .currency {
        display: inline-block;
        color: #aab5c5; //clr2
        width: 300px;
    }

    .bitcoins {
        color: #3b3;
    }


}



.currency {}