<div class="home">

    <div *ngIf="loggedinUser" class="user-details flex column max-700">
        <h1 class="white name">welcome {{loggedinUser.name}}</h1>
        <div class="detail coins">
            <span class="white"> BTC:</span>
            <span class="bitcoins"> ₿{{loggedinUser.coins |number}}</span>

        </div>
        <div class="detail">
            <span class="white">Rate:</span>
            <span *ngIf="rate" class="rate">${{rate.toFixed(2)|number}}</span>
        </div>
        <div class="detail">
            <span class="white"> {{loggedinUser.currency}}: </span>
            <span class="currency"> {{value|currency:loggedinUser.currency}}</span>
        </div>
    </div>

    <app-moves-list *ngIf="loggedinUser" [moves]="moves"></app-moves-list>
</div>