.contact-details {
    font-size: 35px;

    img {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    .contact-detail {
        margin-bottom: 5px;

        .detail {
            color: white;
        }

        .name,
        .phone,
        .email {
            color: #aab5c5;
        }

    }

    .title {
        color: #ed4e6e;

    }



    button {
        border-radius: 2px;
        background-color: #ed4e6e;
        color: white;

    }
}